<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
	<form id="formulario" class="bloco" enctype="multipart/form-data" action="/{{#if novo_artefato}}{{varanda.bicho_id}}/{{pagina.pagina_id}}{{/if}}{{#unless novo_artefato}}{{artefato.artefato_id}}{{/unless}}" method="{{metodo}}">
        <fieldset>
            {{#if novo_artefato}}
            <legend>Novo artefato</legend>
            {{/if}}
            {{#unless novo_artefato}}
            <legend>Editar artefato</legend>
            {{/unless}}
            <label for="titulo">Título:</label>
            <input id="titulo" type="text" value="{{artefato.titulo}}" name="titulo" required>
            <br><br>
            <label for="texto">Texto:</label>
            <textarea name="texto">{{artefato.texto}}</textarea>
        </fieldset>
        <br>
        <fieldset>
			<legend>Arquivo</legend>
			<label for="descricao">Descrição do arquivo:</label>
			<textarea class="campo" id="descricao-arquivo" name="descricao" placeholder="Foto de um gato cinza de olhos amarelos com uma expressão de espanto."></textarea>
			<br><br>
			<label for="arquivo" hidden>Escolher arquivo para postar</label>
			<input id="input-arquivo" name="arquivo" type="file" />
		</fieldset>
        <br>
        <fieldset style="border-style: double;">
            <legend>Opções</legend>
            <input type="checkbox" name="sensivel">
            <label for="sensivel">conteúdo sensível</label>
            <br>
            <input type="checkbox" name="respondivel" checked>
            <label for="respondivel">aceita respostas</label>
            <br>
            <input type="checkbox" name="indexavel" checked>
            <label for="indexavel">pode ser citado</label>
        </fieldset>
	</form>
</div>

<style>
	.pagina {
		text-align: left;
	}
	form {
        max-width: 860px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
    form #titulo{
		width: 100%;
	}
	form textarea {
		width: 100%;
		min-height: 20vh;
	}
</style>

<script>

	esticarTextAreas();

	function esticarTextAreas() {
		let textareas = document.getElementsByTagName('textarea');
		for (campo of textareas) {
			campo.style.height = campo.scrollHeight + 'px';
			campo.style.overflow = "hidden";
		}
	}
	
</script>