<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
	<form id="formulario" class="bloco" action="/{{varanda.bicho_id}}{{#unless nova_pagina}}/{{pagina.pagina_id}}{{/unless}}" method="{{metodo}}">
		<fieldset>
			{{#if nova_pagina}}
			<legend>Nova Página</legend>
			{{/if}}
			{{#unless nova_pagina}}
			<legend>Editar Página</legend>
			{{/unless}}
			<label for="titulo">Título da página:</label>
			<input type="text" id="titulo-pagina" value="{{pagina.titulo}}" name="titulo" required>
			<br><br>
			<label for="html">Html da página:</label>
			<textarea id="html-pagina" name="html" required>{{pagina.html}}</textarea>
		</fieldset>
	</form>
</div>

<style>
	.pagina {
		text-align: left;
	}
	form {
        max-width: 860px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
	form #titulo-pagina{
		width: 100%;
	}
	form textarea {
		width: 100%;
		min-height: 50vh;
	}
</style>

<script>

	esticarTextAreas();

	function esticarTextAreas() {
		let textareas = document.getElementsByTagName('textarea');
		for (campo of textareas) {
			campo.style.height = campo.scrollHeight + 'px';
			campo.style.overflow = "hidden";
		}
	}
	
</script>