<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
	<div class="bloco">
		<h1>Preferências de @{{query.bicho}}</h1>
		<br>
		<form id="formulario" action="/{{query.bicho}}/preferencias" method="PUT" hx-swap="none" hx-trigger="change" hx-push-url="false">
			<h3>Tema:</h3>
			<fieldset>
			{{#each bloco.temas}}
				<input onclick="carregaTema({{this.tema_id}},'{{this.nome}}')" id="{{this.tema_id}}" type="radio" name="tema" value="{{this.tema_id}}" {{#if this.selecionado}}checked{{/if}}>
				<label for="{{this.tema_id}}">{{this.tema_id}} - {{this.nome}}</label>
				<br><br>
			{{/each}}
			</fieldset>
		</form>
		<br><br><br><br>
		<a href="/autenticacao/logout">Sair da Varanda (logout)</a>
	</div>
</div>

<script>
	function carregaTema(tema_id, nome) {
		let linkTema = document.getElementById(`link-tema`);
		linkTema.setAttribute('href', `/temas/${tema_id}-${nome}.css`);
	}

</script>