<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina texto-a-esquerda preencher elementos-centralizados-horizontal">
	<form id="formulario" class="bloco formulario leitura sem-margem" action="/{{varanda.bicho_id}}{{#unless nova_pagina}}/{{pagina.pagina_id}}{{/unless}}" method="{{metodo}}">
		<fieldset class="preencher">
			{{#if nova_pagina}}
			<legend>Nova Página</legend>
			{{/if}}
			{{#unless nova_pagina}}
			<legend>Editar Página</legend>
			{{/unless}}
			<label for="titulo">Título:</label>
			<input type="text" id="titulo-pagina" class="preencher" value="{{pagina.titulo}}" name="titulo" required>
		</fieldset>
		<fieldset class="preencher">
			<legend>Opções:</legend>
			{{#if varanda.comunitaria}}
			<input type="checkbox" name="postavel" {{#if pagina.postavel}}checked{{/if}}{{#if nova_pagina}}checked{{/if}}>
			<label for="postavel">Permitir novas postagens</label>
			<br>
			{{/if}}
			<input type="checkbox" name="publica" {{#if pagina.publica}}checked{{/if}}{{#if nova_pagina}}checked{{/if}}>
			<label for="publica">Pública (pode ser vista sem fazer login na varanda)</label>
		</fieldset>
		<fieldset class="preencher">
			<legend>HTML</legend>
			<textarea id="html-pagina" class="preencher" name="html" required hx-post="/{{pagina.pagina_vid}}/miniatura" hx-target="#miniatura" hx-trigger="input delay:600ms">{{pagina.html}}</textarea>
		</fieldset>
	</form>
	<div class="lista-flexivel-vertical hggg">
		<div class="bloco preencher">
			<h2 class="sem-margem">Prévia</h2>
			<br>
			<div class="com-borda preencher">
				<div id="miniatura" class="visualiza-pagina" hx-get="/{{pagina.pagina_vid}}?miniatura=true" hx-trigger="load"></div>
			</div>
		</div>
		<div class="bloco">
			<h2>Instruções</h2>
			<section>
				<p>Este é o editor de páginas. Você pode dar a cara que você quiser para sua varanda utilizando HTML. Para uma introdução ao HTML, veja: <a href="https://developer.mozilla.org/pt-BR/docs/Learn/HTML/Introduction_to_HTML">Introdução ao HTML (Mozilla MDN)</a>.</p>
				<br>
				<p>Algumas dicas:</p>
			</section>
			<section class="secao-recolhivel preencher" onclick="toggleSecao('tags')">
				<header class="clicavel" id="header-tags">
					<span class="clicavel">Tags HTML especiais</span>
					<svg id="seta-tags" class="fechado" width="1rem" heigth="1rem" viewBox="0 0 32 32">
						<path xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="" d="M 10,2.001 24,16 10,30 z" id="polygon3036"/>
					</svg>
				</header>
				<main class="oculto" id="main-tags">
					<p>A varanda possui tags HTML que interagem com os dados de perfil, postagens, etc. Experimente colocar algumas destas no HTML:</p>
					<ul class="lista">
						{{#if varanda.comunitaria}}
						<li>&lt;v-artefatos/&gt;</li>
						<li>&lt;v-artefatos dado-novidades /&gt;</li>
						<li>&lt;v-equipe/&gt;</li>
						{{/if}}
						<li>&lt;v-avatar&gt;</li>
						<li>&lt;v-botao-voltar&gt;</li>
						<li>&lt;v-cartao-de-visita/&gt;</li>
						<li>&lt;v-comunidades/&gt;</li>
						<li>&lt;v-paginas/&gt;</li>
						<li>&lt;v-titulo/&gt;</li>
						<li>&lt;v-cabecalho/&gt;<br><small>(visível em telas pequenas)</small></li>
						<li>&lt;v-citacao dado-artefato="71"/&gt;<br><small>(você pode substituir "71" pelo número de qualquer postagem)</small></li>
						<li>&lt;v-figurinha dado-artefato="71"/&gt;<br><small>(você pode substituir "71" pelo número de qualquer postagem)</small></li>
					</ul>
				</main>
			</section>
			<section class="secao-recolhivel preencher" onclick="toggleSecao('classes')">
				<header class="clicavel" id="header-classes">
					<span class="clicavel">Classes</span>
					<svg id="seta-classes" class="fechado" width="1rem" heigth="1rem" viewBox="0 0 32 32">
						<path xmlns="http://www.w3.org/2000/svg" fill="currentColor" style="" d="M 10,2.001 24,16 10,30 z" id="polygon3036"/>
					</svg>
				</header>
				<main class="oculto" id="main-classes">
					<div>
						<p>Você pode usar class="pagina" no elemento mais externo da página para que ela se comporte como uma página padrão da varanda. Por exemplo:</p>
						<br>
						<code>
							&lt;div class="pagina"&gt;...&lt;/div&gt;
						</code>
						<br><br>
						<p>Experimente também usar class="bloco" para estilizar blocos de conteúdo.</p>
						<br>
						<p>Existem várias outras classes, e estamos criando mais. Você pode usá-las sozinhas ou combinadas (separadas por espaço). Por exemplo:</p>
						<br>
						<code>
							&lt;div class="bloco texto-centralizado fonte-gg espichar preencher-vertical"&gt;...&lt;/div&gt;
						</code>
						<br><br>
						<p>Experimente algumas:</p>
					</div>
					<ul class="lista">
						<h4>Elementos e decoração</h4>
						<li>bloco</li>
						<li>centro</li>
						<li>espichar</li>
						<li>espichar-vertical</li>
						<li>leitura</li>
						<li>lista-flexivel</li>
						<li>navegacao</li>
						<li>pagina</li>
						<li>preencher</li>
						<li>preencher-vertical</li>
						<li>quadrado</li>
						<li>quebra-linha</li>
						<li>redondo</li>
						
						<h4>Fonte e texto</h4>
						<li>fonte-pp, fonte-p, fonte-m, fonte-g, fonte-gg, fonte-ggg</li>
						<li>serifa</li>
						<li>sem-serifa</li>
						<li>texto</li>
						<li>texto-centralizado</li>
						<li>texto-a-esquerda</li>
						<li>texto-a-direita</li>
						<li>texto-justificado</li>

						<h4>Tamanho dos elementos</h4>
						<li>ppp, pp, p, m, g, gg, ggg<br><small>tamanhos quadrados (comprimento e altura são iguais)</small>
						<li>hppp, hpp, hp, hm, hg, hgg, hggg<br><small>tamanhos horizontais (afetam apenas comprimento)</small></li>
						<li>vppp, vpp, vp, vm, vg, vgg, vggg<br><small>tamanhos verticais (afetam apenas altura)</small></li>
					</ul>
				</main>
			</section>
			<p>Quando teminar, é só apertar o botão "confirmar", na barra principal!</p>
		</div>
	</div>
</div>

<script>
	function toggleSecao(secao) {
		document.getElementById(`main-${secao}`).classList.toggle('oculto');
		let seta = document.getElementById(`seta-${secao}`);
		seta.classList.toggle('fechado');
		if (seta.classList.contains('fechado')) {
			seta.innerHTML = `<path xmlns="http://www.w3.org/2000/svg" fill="currentColor" d="M 10,2.001 24,16 10,30 z" id="polygon3036"/>`;
		} else {
			seta.innerHTML = `<path xmlns="http://www.w3.org/2000/svg" fill="currentColor" d="m2.002 10 13.999 14 14.001-14z"/>`;
		}
	}
</script>