<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina texto-a-esquerda preencher elementos-centralizados-horizontal">
	<form id="formulario" class="bloco formulario leitura sem-margem" action="/{{varanda.bicho_id}}{{#unless nova_pagina}}/{{pagina.pagina_id}}{{/unless}}" method="{{metodo}}">
		<fieldset class="preencher">
			{{#if nova_pagina}}
			<legend>Nova Página</legend>
			{{/if}}
			{{#unless nova_pagina}}
			<legend>Editar Página</legend>
			{{/unless}}
			<label for="titulo">Título:</label>
			<input type="text" id="titulo-pagina" class="preencher" value="{{pagina.titulo}}" name="titulo" required>
		</fieldset>
		<fieldset class="preencher">
			<legend>Opções:</legend>
			{{#if varanda.comunitaria}}
			<input type="checkbox" name="postavel" {{#if pagina.postavel}}checked{{/if}}{{#if nova_pagina}}checked{{/if}}>
			<label for="postavel">Permitir novas postagens</label>
			<br>
			{{/if}}
			<input type="checkbox" name="publica" {{#if pagina.publica}}checked{{/if}}{{#if nova_pagina}}checked{{/if}}>
			<label for="publica">Pública (pode ser vista sem fazer login na varanda)</label>
		</fieldset>
		<fieldset class="preencher">
			<legend>HTML</legend>
			<textarea id="html-pagina" class="preencher" name="html" required hx-post="/{{pagina.pagina_vid}}/miniatura" hx-target="#miniatura" hx-trigger="input delay:600ms">{{pagina.html}}</textarea>
		</fieldset>
	</form>
	<div class="bloco">
		<h2>Instruções</h2>
		<p>Este é o editor de páginas. Você pode dar a cara que você quiser para sua varanda utilizando HTML. Para uma introdução ao HTML, veja: <a href="https://developer.mozilla.org/pt-BR/docs/Learn/HTML/Introduction_to_HTML">Introdução ao HTML (Mozilla MDN)</a>.</p>
		<br>
		<p>Há algumas tags novas na varanda, que começam com "v-". Você pode usá-las para mostrar postagens, informações do perfil, etc.</p>
		<br>
		<p>Experimente colocar algumas destas tags no HTML da página:</p>
		<ul class="lista-tags">
			{{#if varanda.comunitaria}}
			<li>&lt;v-artefatos/&gt;</li>
			<li>&lt;v-artefatos dado-novidades /&gt;</li>
			<li>&lt;v-equipe/&gt;</li>
			{{/if}}
			<li>&lt;v-cartao-de-visita/&gt;</li>
			<li>&lt;v-comunidades/&gt;</li>
			<li>&lt;v-paginas/&gt;</li>
			<li>&lt;v-titulo/&gt;</li>
			<li>&lt;v-cabecalho/&gt;</li>
			<small>(visível em telas pequenas)</small>
			<li>&lt;v-citacao dado-artefato="71"/&gt;</li>
			<small>(você pode substituir "71" pelo número de qualquer postagem)</small>
			<li>&lt;v-figurinha dado-artefato="71"/&gt;</li>
			<small>(você pode substituir "71" pelo número de qualquer postagem)</small>
		</ul>
		<p>Você pode usar class="pagina" no elemento mais externo da página para que ela se comporte como uma página padrão da varanda. Experimente também usar class="bloco" para estilizar blocos de conteúdo.</p>
		<br>
		<p>Quando teminar, é só apertar o botão "confirmar", na barra principal!</p>
	</div>
</div>

<script>
	function toggleSecao(secao) {
		document.getElementById(`main-${secao}`).classList.toggle('oculto');
		let seta = document.getElementById(`seta-${secao}`);
		seta.classList.toggle('fechado');
		if (seta.classList.contains('fechado')) {
			seta.innerHTML = `<path xmlns="http://www.w3.org/2000/svg" fill="currentColor" d="M 10,2.001 24,16 10,30 z" id="polygon3036"/>`;
		} else {
			seta.innerHTML = `<path xmlns="http://www.w3.org/2000/svg" fill="currentColor" d="m2.002 10 13.999 14 14.001-14z"/>`;
		}
	}
</script>