<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
	<form id="formulario" class="bloco" action="/{{#unless nova_comunidade}}{{varanda.bicho_id}}{{/unless}}" method="{{metodo}}" enctype="multipart/form-data">
		<fieldset>
			{{#unless nova_comunidade}}
			<legend>Apresentação</legend>
			{{/unless}}
			{{#if nova_comunidade}}
			<legend>Nova Comunidade</legend>
			<label for="arroba">Apelido da comunidade (@):</label>
			<p style="font-size:small;">Sem espaços ou acentos. Apenas letras, números, traços e sublinhados (underline).</p>
			<input class="campo" type="text" id="arroba-bicho" value="{{bloco.bicho.bicho_id}}" name="arroba" placeholder="clube-do-livro" required>
			<br><br>
			{{/if}}
			<label for="nome">Nome:</label>
			<input class="campo" type="text" id="nome-bicho" value="{{bloco.bicho.nome}}" name="nome" {{#if nova_comunidade}}placeholder="Clube do Livro"{{/if}}>
			<br>
			<br>
			<label for="descricao">Descrição:</label>
			<textarea class="campo" id="descricao-bicho" name="descricao" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px";overflow="hidden"' {{#if nova_comunidade}}placeholder="Oi! Bem-vinde ao clube do livro! Venha ler com a gente!"{{/if}}>{{bloco.bicho.descricao}}</textarea>
		</fieldset>
		{{#unless nova_comunidade}}
		<br>
		{{#if bloco.bicho.comunitario}}
		<fieldset>
			<legend>Opções de participação</legend>
			<input type="checkbox" name="participacao_livre" {{#if bloco.bicho.participacao_livre}}checked{{/if}}>
			<label for="participacao_livre">Participação livre</label>
			<br>
			<input type="checkbox" name="participacao_com_convite" {{#if bloco.bicho.participacao_com_convite}}checked{{/if}}>
			<label for="participacao_com_convite">Participação com convite</label>
		</fieldset>
		{{/if}}
		<br>
		<fieldset>
			<legend>Imagem de perfil</legend>
			<div class="avatar-quadrado" id="visualiza-avatar" hx-get="/blocos/avatar?bicho={{varanda.bicho_id}}&momento={{momento}}" hx-trigger="load" hx-swap="innerHtml" hx-push-url="false"></div>
			<br><br>
			<label for="descricao_avatar">Descrição da imagem:</label>
			<textarea class="campo" id="descricao-avatar" name="descricao_avatar" placeholder="Foto de um gato cinza de olhos amarelos com uma expressão de espanto.">{{bloco.bicho.descricao_avatar}}</textarea>
			<br><br>
			<label for="avatar" hidden>Escolher arquivo para imagem de perfil</label>
			<input id="input-avatar" name="avatar" type="file" />
		</fieldset>
		<br>
		<fieldset>
			<legend>Imagem de fundo</legend>
			<div id="visualiza-fundo" hx-get="/blocos/fundo?bicho={{varanda.bicho_id}}&momento={{momento}}" hx-trigger="load" hx-swap="innerHtml" hx-push-url="false"></div>
			<br>
			<label for="descricao_fundo">Descrição da imagem:</label>
			<textarea class="campo" id="descricao-fundo" name="descricao_fundo" placeholder="Ilustração de uma praia ensolarada com guarda-sóis coloridos.">{{bloco.bicho.descricao_fundo}}</textarea>
			<br><br>
			<label for="fundo" hidden>Escolher arquivo para imagem de fundo</label>
			<input id="input-fundo" name="fundo" type="file" />
		</fieldset>
		{{/unless}}
	</form>
</div>

<style>
	.pagina {
		text-align: left;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
	form #titulo-pagina{
		width: 100%;
	}
	form fieldset {
		padding: 1rem;
	}
	form textarea {
		width: 100%;
		min-height: 10vh;
	}
	form .campo {
		width: 100%;
	}

	#visualiza-fundo {
		display: block;
		z-index: 2;
	}
	input[type="file"] {
		width: 100%;
		word-wrap: break-word;
	}
	

	@media screen and (max-width: 859px) {
		#visualiza-avatar {
			text-align: center;
		}
	}

</style>

{{#unless nova_comunidade}}
<script>
	document.getElementById('input-fundo').addEventListener('change', function(event) {
		let src = URL.createObjectURL(event.target.files[0]);
  		document.getElementById('visualiza-fundo').childNodes[0].style.backgroundImage = `url(${src})`;
	});
	document.getElementById('input-avatar').addEventListener('change', function(event) {
		let src = URL.createObjectURL(event.target.files[0]);
  		document.getElementById('visualiza-avatar').childNodes[0].src = src;
	});
</script>
{{/unless}}