<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
    <div hx-get="/blocos/cartao-de-visita?bicho={{varanda.bicho_id}}&futricar=true{{#if instancia}}&instancia=true{{/if}}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="bloco paginas">
        <h2>Páginas</h2>
        <ul class="lista-paginas">
            {{#if bloco.relacao.editar}}
            {{#each bloco.paginas}}
                <div class="item-paginas">
                    <li class="link-paginas">
                        <a href="/{{this.pagina_vid}}">{{this.titulo}}</a>
                    </li>
                    <div>
                        <button hx-get="/{{this.pagina_vid}}/editar" hx-target="body" hx-push-url="true">Editar</button>
                        <button hx-delete="/{{this.pagina_vid}}" hx-target="body">Remover</button>
                    </div>
                </div>
                <br>
            {{/each}}
            {{/if}}
            {{#if bloco.bicho.meuPerfil}}
            {{#each bloco.paginas}}
                <div class="item-paginas">
                    <li class="link-paginas">
                        <a href="/{{this.pagina_vid}}">/{{this.titulo}}</a>
                    </li>
                    <div>
                        <button hx-get="/{{this.pagina_vid}}/editar" hx-target="body" hx-push-url="true">Editar</button>
                        <button hx-delete="/{{this.pagina_vid}}" hx-target="body">Remover</button>
                        <dialog class="confirmacao-remover-pagina">
                            <p>Você quer mesmo remover a página {{this.titulo}}?</p>
                            <br>
                            <button hx-delete="/{{bloco.bicho.bicho_id}}/relacao" hx-target="body" hx-push-url="false">Sim</button>
                            <button onClick="fecharConfirmacao()">Não</button>
                        </dialog>
                    </div>
                </div>
                <br>
            {{/each}}
            {{/if}}
            {{#unless bloco.relacao.editar}}
            {{#unless bloco.bicho.meuPerfil}}
            {{#each bloco.paginas}}
                <div class="link-paginas">
                    <li>
                        <a href="/{{this.pagina_vid}}">{{this.titulo}}</a>
                    </li>
                </div>
                <br>
            {{/each}}
            {{/unless}}
            {{/unless}}
        </ul>
        <div>
        {{#if bloco.bicho.comunitario}}
        {{#if bloco.relacao.editar}}
        <button class="centralizado" hx-get="/{{varanda.bicho_id}}/nova_pagina/editar" hx-target="body" hx-push-url="true">Nova página</button>
        {{/if}}
        {{/if}}
        {{#if bloco.bicho.meuPerfil}}
        <button class="centralizado" hx-get="/{{varanda.bicho_id}}/nova_pagina/editar" hx-target="body" hx-push-url="true">Nova página</button>
        {{/if}}
        </div>
    </div>
    {{#if bloco.participantes}}
    <div class="bloco">
        <h2>Participantes</h2>
        <ul class="lista-bichos">
            {{#each bloco.participantes}}
            <li class="item-bicho"><a href="/{{this.bicho_id}}"><span class="avatar-quadrado" hx-get="/blocos/avatar?bicho={{this.bicho_id}}" hx-trigger="load"></span></a><p class="largura-fixa"><a class="mini-arroba" href="/{{this.bicho_id}}">@{{this.bicho_id}}</a></p></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    {{#if bloco.comunidades}}
    <div class="bloco">
        <h2>Comunidades</h2>
        <ul class="lista-bichos">
            {{#each bloco.comunidades}}
            <li class="item-bicho"><a href="/{{this.comunidade_id}}"><span class="avatar-quadrado" hx-get="/blocos/avatar?bicho={{this.comunidade_id}}" hx-trigger="load"></span></a><p class="largura-fixa"><a class="mini-arroba" href="/{{this.comunidade_id}}">@{{this.comunidade_id}}</a></p></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>

<style>

    .lista-bichos {
        display: flex;
        gap: 0.2rem;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        list-style: none;
    }

    .paginas {
        flex: 25%;
        align-self: stretch;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .lista-paginas {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        list-style: none;
    }

    .item-bicho {
    }

    .item-paginas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .link-paginas {
        display: block;
        text-align: left;
        width: 40%;
        height: auto;
        word-wrap: break-word;
    }

    .largura-fixa {
        display: block;
        text-align: center;
        width: 80px;
        height: auto;
        margin: 0 auto;
        word-wrap: break-word;
    }

    .mini-arroba {
        font-size: 0.8rem;
    }

    @media screen and (max-width: 859px) {
        .item-paginas {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }   
    }

</style>