<div hx-get="/blocos/cabecalho?bicho={{varanda.bicho_id}}" hx-trigger="load"></div>
<div class="pagina">
    <div class="preencher preencher-vertical" hx-get="/blocos/cartao-de-visita?bicho={{varanda.bicho_id}}&futricar=true{{#if instancia}}&instancia=true{{/if}}" hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="bloco preencher">
        <h2 class="titulo-bloco">Páginas</h2>
        <ul class="lista">
            {{#if bloco.relacao.editar}}
            {{#each bloco.paginas}}
                <li class="preencher">
                    <a class="margem-direita-p" href="/{{this.pagina_vid}}">{{this.titulo}}</a>
                    <button class="vpp fonte-p com-padding-horizontal" hx-get="/{{this.pagina_vid}}/editar" hx-target="body" hx-push-url="true">Editar</button>
                    <button class="vpp fonte-p com-padding-horizontal" onclick="confirmarRemoverPagina('{{this.titulo}}')">Remover</button>
                    <dialog class="confirmacao" id="dialogo-remover-{{this.titulo}}">
                        <p>Você quer mesmo remover a página {{this.titulo}}?</p>
                        <br>
                        <button hx-delete="/{{this.pagina_vid}}" hx-target="body" hx-push-url="true">Sim</button>
                        <button onClick="fechatudo()">Não</button>
                    </dialog>
                </li>
            {{/each}}
            <div id="modal" onclick="fechatudo()"></div>
            {{/if}}
            {{#if bloco.bicho.meuPerfil}}
            {{#each bloco.paginas}}
                <li class="preencher">
                    <a class="margem-direita-p" href="/{{this.pagina_vid}}">/{{this.titulo}}</a>
                    <button class="vpp fonte-p com-padding-horizontal" hx-get="/{{this.pagina_vid}}/editar" hx-target="body" hx-push-url="true">Editar</button>
                    <button class="vpp fonte-p com-padding-horizontal" onclick="confirmarRemoverPagina('{{this.titulo}}')">Remover</button>
                    <dialog class="confirmacao" id="dialogo-remover-{{this.titulo}}">
                        <p>Você quer mesmo remover a página {{this.titulo}}?</p>
                        <br>
                        <button hx-delete="/{{this.pagina_vid}}" hx-target="body" hx-push-url="true">Sim</button>
                        <button onClick="fechatudo()">Não</button>
                    </dialog>
                </li>
            {{/each}}
            <div id="modal" onclick="fechatudo()"></div>
            {{/if}}
            {{#unless bloco.relacao.editar}}
            {{#unless bloco.bicho.meuPerfil}}
            {{#each bloco.paginas}}
                <div class="link-paginas">
                    <li>
                        <a href="/{{this.pagina_vid}}">{{this.titulo}}</a>
                    </li>
                </div>
                <br>
            {{/each}}
            {{/unless}}
            {{/unless}}
        </ul>
        <div class="margem-superior-g">
            {{#if bloco.bicho.comunitario}}
            {{#if bloco.relacao.editar}}
            <button class="texto-centralizado centro" hx-get="/{{varanda.bicho_id}}/nova_pagina/editar" hx-target="body" hx-push-url="true">Nova página</button>
            {{/if}}
            {{/if}}
            {{#if bloco.bicho.meuPerfil}}
            <button class="texto-centralizado centro" hx-get="/{{varanda.bicho_id}}/nova_pagina/editar" hx-target="body" hx-push-url="true">Nova página</button>
            {{/if}}
        </div>
    </div>
    {{#if bloco.bicho.comunitario}}
        <div hx-get="/blocos/equipe?bicho={{varanda.bicho_id}}" hx-trigger="load" hx-swap="outerHTML"></div>
        {{#if bloco.participantes}}
        <div hx-get="/blocos/participantes?flash_aviso={{flash.aviso}}&flash_erro={{flash.erro}}&bicho={{varanda.bicho_id}}" hx-trigger="load" hx-swap="outerHTML"></div>
        {{/if}}
    {{/if}}
    {{#if bloco.comunidades}}
    <div hx-get="/blocos/comunidades?flash_aviso={{flash.aviso}}&flash_erro={{flash.erro}}&bicho={{varanda.bicho_id}}" hx-trigger="load" hx-swap="outerHTML"></div>
    {{/if}}
</div>

<script>
    function confirmarRemoverPagina(titulo) {
        document.getElementById('modal').classList.add('modal-aberto');
        document.getElementById(`dialogo-remover-${titulo}`).classList.add('confirmacao-aberta');
    }
    function fechatudo() {
        let confirmacoes = document.getElementsByClassName('confirmacao');
        for (let i = 0; i < confirmacoes.length; i++) {
            confirmacoes[i].classList.remove('confirmacao-aberta');
        }
        document.getElementById('modal').classList.remove('modal-aberto');
    }
</script>