{{#with bloco.artefato}}
{{#unless comentario}}
<div class="bloco" style="text-align: left">
    <h4><a href="/{{pagina_vid}}/{{artefato_id}}" hx-push-url="true">{{titulo}}</a></h4>
    <div>
        {{#if texto}}
        <div class="texto">{{{texto}}}</div>
        {{/if}}
        {{#if nome_arquivo}}
            <div class="arquivo">
                {{#if tipo.imagem}}
                <img
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                    alt="{{descricao}}"
                    title="{{descricao}}"
                />
                {{/if}}
                {{#if tipo.audio}}
                <audio
                    controls
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                > Clique para baixar o áudio: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
                </audio>
                <p>Descrição: {{descricao}}</p>
                {{/if}}
                {{#if tipo.video}}
                <video
                    controls
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                > Clique para baixar o vídeo: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
                </video>
                <p>Descrição: {{descricao}}</p>
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
{{/unless}}
{{#if comentario}}
<div style="text-align: left">
    <div>
        <div style="margin: 0 0 0.3rem 0;">
            <h5 class="titulo-comentario" style="cursor:pointer;" hx-get="/{{pagina_vid}}/{{artefato_id}}" hx-push-url="true" hx-target="body"><a >{{titulo}}</a></h5>
            {{#if sensivel}}<button id="botao-sensivel-{{artefato_id}}" onClick="toggleSensivel({{artefato_id}})" style="display:inline;height:2rem;padding:0 0.4rem;">Expandir</button>{{/if}}
        </div>
        <div id="sensivel-{{artefato_id}}" class="comentario-em-si {{#if sensivel}}sensivel-oculto{{/if}}" style="cursor:pointer;" hx-get="/{{pagina_vid}}/{{artefato_id}}" hx-push-url="true" hx-target="body">
            <div style="margin-bottom:0.4rem;">
                {{#if texto}}
                <div class="texto">{{{texto}}}</div>
                {{/if}}
            </div>
            {{#if nome_arquivo}}
            <div class="arquivo">
                {{#if tipo.imagem}}
                <img
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                    alt="{{descricao}}"
                    title="{{descricao}}"
                />
                {{/if}}
                {{#if tipo.audio}}
                <audio
                    controls
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                > Clique para baixar o áudio: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
                </audio>
                <p>Descrição: {{descricao}}</p>
                {{/if}}
                {{#if tipo.video}}
                <video
                    controls
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                > Clique para baixar o vídeo: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
                </video>
                <p>Descrição: {{descricao}}</p>
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="autoria">
            <div class="avatar-redondo pequeno" hx-get="/blocos/avatar?bicho={{bicho_criador_id}}" hx-trigger="load"></div>
            <a class="texto-autoria" hx-get="/{{bicho_criador_id}}" hx-push-url="true" hx-target="body">@{{bicho_criador_id}}</a>
            <p class="texto-autoria">{{criacao}}</p>
    </div>
</div>
{{/if}}
{{/with}}

<style>
    .sensivel-oculto {
        display: none;
    }
    .texto {
        white-space: pre-wrap;
        font-size: 1rem;
    }
</style>

<script>
    function toggleSensivel(id) {
        let conteudo = document.getElementById(`sensivel-${id}`);
        let botao = document.getElementById(`botao-sensivel-${id}`);
        conteudo.classList.toggle('sensivel-oculto');
        if (conteudo.classList.contains('sensivel-oculto')) {
            botao.innerText = 'Expandir';
        } else {
            botao.innerText = 'Ocultar';
        }
    }
</script>