{{#unless bloco.artefatos.nao_renderizar}}
{{#if bloco.artefatos.comecou}}
<div class="bloco artefatos {{bloco.class}}">
    {{#if pagina.postavel}}
    {{#unless bloco.artefatos.lista}}
        <p>Nenhuma postagem ainda. Clique em "postar" na barra principal para fazer a primeira.</p>
    {{/unless}}
    {{/if}}
{{/if}}
    <div class="lote">
    {{#each bloco.artefatos.lista}}
        <div class="item-artefatos {{#if this.colorir}}colorir{{/if}}">
            <div hx-get="/blocos/artefato-mini?flash_aviso={{@root.flash.aviso}}&flash_erro={{@root.flash.erro}}&bicho={{@root.varanda.bicho_id}}&pagina={{@root.pagina.pagina_id}}&artefato={{this.artefato_id}}" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
    {{/each}}
    </div>
    <footer>
    {{#unless bloco.artefatos.acabou}}
        <button class="centro margem-superior-m margem-inferior-m" id="botao-{{bloco.artefatos.proximo_lote}}" hx-get="/blocos/artefatos?flash_aviso={{flash.aviso}}&flash_erro={{flash.erro}}&bicho={{varanda.bicho_id}}{{#if bloco.artefatos.novidades}}&novidades{{/if}}&pagina={{pagina.pagina_id}}&lote={{bloco.artefatos.proximo_lote}}" hx-push-url="false" hx-swap="outerHTML" >Ver mais</button>
        <div id="lote-{{bloco.artefatos.proximo_lote}}"></div>
    {{/unless}}
    </footer>
{{#if bloco.artefatos.comecou}}</div>{{/if}}
{{/unless}}