{{#with bloco.artefato}}
<div class="bloco-mini" hx-get="/{{pagina_vid}}/{{artefato_id}}" hx-push-url="true" hx-target="body">
    {{#unless nome_arquivo}}
        <div class="texto"><h4>{{titulo}}</h4>{{{texto}}}</div>
    {{/unless}}
    {{#if nome_arquivo}}
        <div class="arquivo">
            {{#if tipo.imagem}}
            <img
                src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                alt="{{descricao}}"
                title="{{descricao}}"
            />
            {{/if}}
            {{#if tipo.audio}}
            <audio
                controls
                src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
            > Clique para baixar o áudio: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
            </audio>
            <p>Descrição: {{descricao}}</p>
            {{/if}}
            {{#if tipo.video}}
            <video
                controls
                src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
            > Clique para baixar o vídeo: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
            </video>
            <p>Descrição: {{descricao}}</p>
            {{/if}}
        </div>
    {{/if}}
</div>
{{/with}}

<style>
    .bloco-mini {
        max-height: 16rem;
        text-align: left;
        cursor: pointer;
    }
    .bloco-mini .texto {
        padding: 0.8rem;
        cursor: pointer;
        white-space: pre-line;
    }
    .bloco-mini h4 {
        cursor: pointer;
        margin: 0 0 0.4rem 0;
    }
    .bloco-mini .arquivo {
    }
    .bloco-mini .arquivo img {
        display: block;
        margin: 0 auto;
        height: 16rem;
        object-fit: contain;
    }
    @media screen and (max-width: 859px) {
        .bloco-mini {
            max-height: 8rem;
        }
        .bloco-mini .arquivo img {
            height: 8rem;
        }
    }
</style>