{{#with bloco.artefato}}
<div class="bloco-mini" hx-get="/{{pagina_vid}}/{{artefato_id}}" hx-push-url="true" hx-target="body">
    {{#unless nome_arquivo}}
        <div class="texto"><h4>{{titulo}}</h4></div>
    {{/unless}}
    {{#if nome_arquivo}}
        {{#if tipo.imagem}}
        <img
            src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
            alt="{{descricao}}"
            title="{{descricao}}"
        />
        {{/if}}
        {{#if tipo.audio}}
        <audio
            controls
            src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
        > Clique para baixar o áudio: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
        </audio>
        <p>Descrição: {{descricao}}</p>
        {{/if}}
        {{#if tipo.video}}
        <video
            controls
            src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
        > Clique para baixar o vídeo: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
        </video>
        <p>Descrição: {{descricao}}</p>
        {{/if}}
    {{/if}}
</div>
{{/with}}

<style>
    .bloco-mini {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .bloco-mini .texto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.8rem;
        height: 100%;
        width: 100%;
        text-align: center;
        cursor: pointer;
        white-space: pre-line;
    }
    .bloco-mini h4 {
        cursor: pointer;
        margin: auto;
    }
    .bloco-mini img {
        display: block;
        height: 100%;
        margin: auto;
        object-fit: contain;
    }
</style>