{{#if bloco.artefatos.comecou}}<div class="bloco artefatos">{{#if pagina.postavel}}{{#unless bloco.artefatos.lista}}<p>Faça uma postagem para começar!</p>{{/unless}}{{/if}}{{/if}}
    <div class="lote">
    {{#each bloco.artefatos.lista}}
        <div class="item-artefatos {{#if this.colorir}}colorir{{/if}}">
            <div hx-get="/blocos/artefato-mini?artefato={{this.artefato_id}}" hx-trigger="load"></div>
        </div>
    {{/each}}
    </div>
    <footer>
    {{#unless bloco.artefatos.acabou}}
        <button id="botao-{{bloco.artefatos.proximo_lote}}" style="margin:1rem 0 1rem;" hx-get="/blocos/artefatos?bicho={{varanda.bicho_id}}&pagina={{pagina.pagina_id}}&lote={{bloco.artefatos.proximo_lote}}" hx-push-url="false" hx-swap="outerHTML" >Ver mais</button>
        <div id="lote-{{bloco.artefatos.proximo_lote}}"></div>
    {{/unless}}
    </footer>
{{#if bloco.artefatos.comecou}}</div>{{/if}}

<style>
    .artefatos {
        padding: 0;
    }
    .lote {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        min-width: 45vw;
    }
    .item-artefatos {
        overflow: hidden;
    }
    .item-artefatos.colorir {
        background-color: var(--cor-fundo-3);
    }
</style>