<div class="bloco cartao">
	
	{{#with bloco.bicho}}
    <div hx-get="/blocos/fundo?bicho={{bicho_id}}" hx-trigger="load"></div>
	<div class="avatar-redondo avatar-no-cartao" hx-get="/blocos/avatar?bicho={{bicho_id}}" hx-trigger="load"></div>
    <div class="informacao">
        <h2>{{nome}}</h2>
        <a href="/{{bicho_id}}">@{{bicho_id}}</a>
		<br><br>
        <p>{{descricao}}</p>
    </div>
	{{/with}}
	
	<br><br>

	{{#if bloco.futricar}}
	<button hx-get="/{{bloco.bicho.bicho_id}}/editar-bicho" hx-target="body" hx-push-url="true">Editar perfil</button>
	{{#if bloco.bicho.comunitario}}
	{{#if bloco.relacao.participar}}
	{{#unless bloco.bicho.instancia}}
	<button hx-delete="/{{bloco.bicho.bicho_id}}/relacao" hx-target="body" hx-push-url="true">Sair da comunidade</button>
	{{/unless}}
	{{/if}}
	{{/if}}
	{{/if}}

	{{#unless bloco.relacao.participar}}
	{{#if bloco.bicho.participacao_livre}}
	<button hx-post="/{{bloco.bicho.bicho_id}}/participar" hx-target="body" hx-push-url="true">Participar</button>
	{{/if}}
	{{/unless}}

    <style>
    .cartao {
		text-align: center;
    }

	.informacao{
		margin-top: 42px;
	}

	.avatar-no-cartao {
		display: block;
		position: absolute;
		top: 90px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}

    </style>

</div>