<div class="bloco cartao">
	
	{{#with bloco.bicho}}
    <div hx-get="/blocos/fundo?bicho={{bicho_id}}" hx-trigger="load"></div>
	<div class="avatar-redondo avatar-no-cartao" hx-get="/blocos/avatar?bicho={{bicho_id}}" hx-trigger="load"></div>
    <div class="informacao">
        <h2>{{nome}}</h2>
        <a href="/{{bicho_id}}">@{{bicho_id}}</a>
		<br><br>
        <p>{{descricao}}</p>
    </div>
	{{/with}}

    <style>
    .cartao {
		text-align: center;
		padding: 0;
    }

	.informacao{
		margin-top: 42px;
		padding: 0 0.8rem 0.8rem 0.8rem;
	}

	.avatar-no-cartao {
		display: block;
		position: absolute;
		top: 78px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		text-align: center;
	}

	@media screen and (max-width: 859px) {
		.informacao {
		padding: 0 0.5rem 0.5rem 0.5rem;
    }

	}

    </style>

</div>