{{#if query.futricar}}
<div class="bloco preencher {{bloco.class}}">
	<h2 class="titulo-bloco">Cartão de visita:</h2>
{{/if}}

<div class="bloco preencher sem-padding {{bloco.class}}" {{#if query.futricar}}style="border: solid 2px;"{{/if}}>
	{{#with bloco.bicho}}
    <div hx-get="/blocos/fundo?bicho={{bicho_id}}{{/with}}&momento={{momento}}{{#with bloco.bicho}}" hx-trigger="load"></div>
	<div hx-get="/blocos/avatar?class=avatar-no-cartao,redondo,m&bicho={{bicho_id}}{{/with}}&momento={{momento}}"{{#with bloco.bicho}} hx-trigger="load" hx-swap="outerHTML"></div>
    <div class="informacao texto-centralizado">
        <h2>{{nome}}</h2>
        <a href="/{{bicho_id}}">@{{bicho_id}}</a>
		<br><br>
        <p class="descricao">{{descricao}}</p>
    </div>
	{{/with}}

</div>

{{#if query.futricar}}
	<div class="lista-flexivel elementos-centralizados margem-superior-m">
		{{#if bloco.relacao.participar}}
		{{#unless query.instancia}}
		<button onclick="abrirConfirmacao()">Deixar de participar</button>
		{{/unless}}
		{{/if}}

		{{#if bloco.relacao.representar}}
		<button hx-get="/{{bloco.bicho.bicho_id}}/editar-bicho" hx-target="body" hx-push-url="true">Editar cartão</button>
		{{/if}}

		{{#if bloco.relacao.representar}}
		{{#unless query.instancia}}
		<button onclick="abrirConfirmacaoApagar()">Apagar comunidade</button>
		{{/unless}}
		{{/if}}

		{{#if bloco.bicho.meuPerfil}}
		<button hx-get="/{{bloco.bicho.bicho_id}}/editar-bicho" hx-target="body" hx-push-url="true">Editar perfil</button>
		{{/if}}
	</div>

	<dialog class="confirmacao-sair-comunidade">
	<p>Você quer mesmo sair da comunidade @{{bloco.bicho.bicho_id}}?</p>
	<br>
	<button hx-delete="/{{bloco.bicho.bicho_id}}/relacao" hx-target="body" hx-push-url="false">Sim</button>
	<button onClick="fecharConfirmacao()">Não</button>
	</dialog>

	<dialog class="confirmacao-apagar-comunidade">
	<p>Tem certeza de que deseja apagar a comunidade @{{bloco.bicho.bicho_id}}? Todas as páginas e postagens serão removidas e a comunidade deixará de existir.</p>
	<br>
	<button hx-delete="/{{bloco.bicho.bicho_id}}" hx-target="body" hx-push-url="true">Sim</button>
	<button onClick="fecharConfirmacaoApagar()">Não</button>
	</dialog>

</div>
{{/if}}	

<script>
		function abrirConfirmacao() {
			let janelinhas = document.querySelectorAll('.confirmacao-sair-comunidade');
			for(janelinha of janelinhas) {
				janelinha.setAttribute('open', '');
			}
		}
		function fecharConfirmacao(){
			let janelinhas = document.querySelectorAll('.confirmacao-sair-comunidade');
			for(janelinha of janelinhas) {
				janelinha.removeAttribute('open');
			}
		}
		function abrirConfirmacaoApagar() {
			let janelinhas = document.querySelectorAll('.confirmacao-apagar-comunidade');
			for(janelinha of janelinhas) {
				janelinha.setAttribute('open', '');
			}
		}
		function fecharConfirmacaoApagar(){
			let janelinhas = document.querySelectorAll('.confirmacao-apagar-comunidade');
			for(janelinha of janelinhas) {
				janelinha.removeAttribute('open');
			}
		}
</script>