<div class="bloco citacao {{bloco.class}}" style="text-align: left">
{{#with bloco.artefato}}
    <header>
        <h5><a href="/{{pagina_vid}}/{{artefato_id}}" hx-push-url="true">📌{{#if titulo}} {{titulo}}{{/if}}</a></h5>
        {{#if sensivel}}<button id="botao-sensivel-{{artefato_id}}" onClick="toggleSensivel({{artefato_id}})">Expandir</button>{{/if}}
    </header>
    <div class="citacao-em-si {{#if sensivel}}sensivel-oculto{{/if}}" id="sensivel-{{artefato_id}}">
        {{#if texto}}
            <div class="texto-citacao">{{{texto}}}</div>
        {{/if}}
        {{#if nome_arquivo}}
            <div class="arquivo">
                {{#if tipo.imagem}}
                <img
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                    alt="{{descricao}}"
                    title="{{descricao}}"
                />
                {{/if}}
                {{#if tipo.audio}}
                <audio
                    controls
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                > Clique para baixar o áudio: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
                </audio>
                <p>Descrição: {{descricao}}</p>
                {{/if}}
                {{#if tipo.video}}
                <video
                    controls
                    src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
                > Clique para baixar o vídeo: <a href="/{{pagina_vid}}/{{artefato_id}}/arquivo">{{nome_arquivo}}.{{extensao}}</a>
                </video>
                <p>Descrição: {{descricao}}</p>
                {{/if}}
            </div>
        {{/if}}
    </div>
    <footer class="autoria fonte-p">
        {{#unless si_mesme}}
        <div class="redondo pp nao-espichar" hx-get="/blocos/avatar?bicho={{bicho_criador_id}}" hx-trigger="load"></div>
        <a class="arroba-autoria" href="/{{bicho_criador_id}}">@{{bicho_criador_id}}</a>
        <span>postou em</span>
        {{/unless}}
        {{#if si_mesme}}
        <span>em</span>
        {{/if}}
        <div class="redondo pp nao-espichar" hx-get="/blocos/avatar?bicho={{varanda_id}}" hx-trigger="load"></div>
        <a class="arroba-autoria" href="/{{varanda_id}}">@{{varanda_id}}</a>
    </footer>
</div>
{{/with}}

<script>
    function toggleSensivel(id) {
        let conteudo = document.getElementById(`sensivel-${id}`);
        let botao = document.getElementById(`botao-sensivel-${id}`);
        conteudo.classList.toggle('sensivel-oculto');
        if (conteudo.classList.contains('sensivel-oculto')) {
            botao.innerText = 'Expandir';
        } else {
            botao.innerText = 'Ocultar';
        }
    }
</script>