{{#if bloco.comunidades}}
<div class="bloco preencher {{bloco.class}}">
    <h2 class="titulo-bloco">Comunidades</h2>
    <ul class="lista-flexivel fonte-p">
        {{#each bloco.comunidades}}
        <li>
            <a href="/{{#if this.comunidade_id}}{{this.comunidade_id}}{{/if}}{{#unless this.comunidade_id}}{{this.bicho_id}}{{/unless}}">
                <div class="quadrado m" hx-get="/blocos/avatar?bicho={{#if this.comunidade_id}}{{this.comunidade_id}}{{/if}}{{#unless this.comunidade_id}}{{this.bicho_id}}{{/unless}}" hx-trigger="load"></div>
            </a>
            <p class="texto-centralizado hm quebra-linha">
                <a class="mini-arroba" href="/{{#if this.comunidade_id}}{{this.comunidade_id}}{{/if}}{{#unless this.comunidade_id}}{{this.bicho_id}}{{/unless}}">{{this.nome}}</a>
            </p>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}