<form action="/{{varanda.bicho_id}}/{{pagina.pagina_id}}" method="put">
	<label for="titulo" hidden>título da página "{{pagina.pagina_id}}"</label>
	<input type="text" id="titulo-pagina" value="{{pagina.pagina_id}}" name="titulo" required>
	<label for="html" hidden>html da página "{{pagina.pagina_id}}"</label>
	<textarea id="html-pagina" value="{{pagina.html}}" name="html" required></textarea>

	<button type="submit">salvar</button>
	<button hx-get="/{{varanda.bicho_id}}/{{pagina.pagina_id}}" hx-target="body">cancelar</button>
</form>

<style>
	form {
        max-width: 360px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
</style>