<div class="pagina">
    
	<header class="bloco">
		{{#unless novo_artefato}}
        <h1>Editando o artefato <a href="/{{bloco.artefato.artefato_pid}}">@{{bloco.artefato.artefato_pid}}</a></h1>
		{{/unless}}
		{{#if novo_artefato}}
		<h1>Novo artefato em <a href="/{{varanda.bicho_id}}/{{pagina.pagina_id}}">@{{varanda.bicho_id}}/{{pagina.pagina_id}}</a></h1>
		{{/if}}
        <div hx-get="/blocos/botao-voltar" hx-trigger="load"></div>
    </header>
	<br>
	<form class="bloco" action="/{{#if novo_artefato}}{{varanda.bicho_id}}/{{pagina.pagina_id}}{{/if}}{{#unless novo_artefato}}{{bloco.artefato.artefato_pid}}{{/unless}}" method="{{metodo}}">
    {{#with bloco.artefato}}
		<label for="titulo">Título:</label>
		<input type="text" value="{{titulo}}" name="titulo" required>
		<br><br>
		<label for="texto">Texto:</label>
		<textarea name="texto">{{texto}}</textarea>
        <br><br>
        <fieldset style="border-style: double;">
            <input type="checkbox" name="sensivel">
            <label for="sensivel">conteúdo sensível</label>
            <br>
            <input type="checkbox" name="respondivel" checked>
            <label for="respondivel">aceita respostas</label>
            <br>
            <input type="checkbox" name="indexavel" checked>
            <label for="indexavel">pode ser citado</label>
        </fieldset>
        <br>
        <button type="submit">Postar</button>
    {{/with}}
	</form>
</div>