<form action="/{{#unless nova_comunidade}}{{varanda.bicho_id}}{{/unless}}" method="{{metodo}}">
	
    {{#if nova_comunidade}}
	<label for="bicho_id" hidden>arroba</label>
	<span>@</span><input type="text" id="arroba-bicho" value="{{varanda.bicho_id}}" name="bicho_id" required>
	{{/if}}
	<label for="nome" hidden>nome</label>
	<input type="text" id="nome-bicho" value="{{varanda.bicho.nome}}" name="nome" required>
	<label for="descricao" hidden>descrição do bicho</label>
	<textarea id="descricao-bicho" name="descricao">{{varanda.bicho.descricao}}</textarea>

	<button type="submit">salvar</button>
	<button hx-get="/{{#unless nova_comunidade}}{{varanda.bicho_id}}{{/unless}}" hx-target="body" hx-push-url="true">cancelar</button>

</form>

<style>
	form {
        max-width: 360px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
</style>