{{#if flash_message}}
    <dialog open>
		<p>{{flash_message}}</p>
		<form method="dialog" hx-boost="false">
    		<button>entendi!</button>
  		</form>
	</dialog>
{{/if}}

<form id="form-editar" action="/{{varanda.bicho_id}}/{{varanda.pagina_id}}" method="put">
		<label for="titulo" hidden>título da página "{{varanda.pagina_id}}"</label>
		<input type="text" id="titulo-pagina" value="{{varanda.pagina_id}}" name="titulo" required>
		<label for="html" hidden>html da página "{{varanda.pagina_id}}"</label>
    	<textarea id="html-pagina" value="{{varanda.pagina_html}}" name="html" required></textarea>

		<button type="submit">salvar</button>
</form>

<style>

	#form-login {
        max-width: 360px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        align-items: center;
        gap: 1rem;
	}
</style>