<div class="bloco preencher {{bloco.class}}">
    <h2 class="titulo-bloco">Equipe</h2>
    <div class="lista-flexivel">
        <div class="grupo-equipe">
            <p><strong>Representantes:</strong></p>
            <ul class="lista-flexivel fonte-p">
                {{#each bloco.equipe.representantes}}
                <li class="item-equipe">
                    <a href="/{{this.bicho_id}}">
                        <div class="quadrado p" hx-get="/blocos/avatar?bicho={{this.bicho_id}}" hx-trigger="load"></div>
                    </a>
                    <a class="mini-arroba" href="/{{this.bicho_id}}">@{{this.bicho_id}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="grupo-equipe">
            <p><strong>Edição:</strong></p>
            <ul class="lista-flexivel fonte-p">
                {{#each bloco.equipe.edicao}}
                <li class="item-equipe">
                    <a href="/{{this.bicho_id}}">
                        <div class="quadrado p" hx-get="/blocos/avatar?bicho={{this.bicho_id}}" hx-trigger="load"></div>
                    </a>
                    <a class="mini-arroba" href="/{{this.bicho_id}}">@{{this.bicho_id}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="grupo-equipe">
            <p><strong>Moderação:</strong></p>
            <ul class="lista-flexivel fonte-p">
                {{#each bloco.equipe.moderacao}}
                <li class="item-equipe">
                    <a href="/{{this.bicho_id}}">
                        <div class="quadrado p" hx-get="/blocos/avatar?bicho={{this.bicho_id}}" hx-trigger="load"></div>
                    </a>
                    <a class="mini-arroba" href="/{{this.bicho_id}}">@{{this.bicho_id}}</a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{#if bloco.relacao.representar}}
    <button class="texto-centralizado centro" onclick="alert('Em construção')">Editar Equipe</button>
    {{/if}}
</div>