{{#with bloco.figurinha}}
    {{#if tipo.imagem}}
    <a href="/{{pagina_vid}}/{{artefato_id}}"><img class="figurinha {{bloco.class}}"
            src="/{{pagina_vid}}/{{artefato_id}}/arquivo"
            alt="{{descricao}}"
            title="{{descricao}}"
    /></a>
{{/if}}
{{/with}}