{{#if bloco.participantes}}
<div class="bloco participantes preencher {{bloco.class}}">
    <h2 class="titulo-bloco">Participantes</h2>
    <ul class="lista-flexivel fonte-p">
        {{#each bloco.participantes}}
        <li class="item-bicho">
            <a href="/{{this.bicho_id}}">
                <div class="quadrado p" hx-get="/blocos/avatar?bicho={{this.bicho_id}}" hx-trigger="load"></div>
            </a>
            <p class="texto-centralizado fonte-p hp quebra-linha">
                <a href="/{{this.bicho_id}}">@{{this.bicho_id}}</a>
            </p>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}