<header id="varanda-barra">

    <button id="varanda-botao-geral" onclick="alternaMenuGeral()" aria-describedby="descricao-botao-geral">
        <span class="oculto-aos-olhos">Menu de navegação</span>
        <span id="descricao-botao-geral" hidden>Abre e fecha um menu com links para navegação em geral.</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 12 12"
            aria-hidden="true" focusable="false">
            <g transform="matrix(1 0 0 -1 0 12)">
                <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width=".60000002" d="M11.0002487 10.3303432 5.9999991 1.6696563m5.0002509 8.6606869H.999749m0 0 5.0002501-8.6606869"/>
                <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width=".60000002" d="M.99975 6h10.0005"/>
            </g>
        </svg>
    </button>
    <nav id="varanda-menu-geral">
        <a href="/">Início</a>
        <a href="/{{usuarie.bicho_id}}">Meu perfil</a>
        <a href="/preferencias">Preferências</a>
        <a href="/autenticacao/logout">Sair</a>
    </nav>
    
    <a id="varanda-titulo" href="/{{varanda.bicho_id}}" style="color=var(--cor-fonte-barra); text-decoration=none;">{{varanda.bicho_id}}</a>
    
    <button id="varanda-botao-contexto" onclick="alternaMenuContexto()" aria-describedby="descricao-botao-contexto">
        <span class="oculto-aos-olhos">Menu de contexto</span>
        <span id="descricao-botao-contexto" hidden>Abre e fecha um menu com opções específicas para esta página ou varanda.</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 12 12"
            aria-hidden="true" focusable="false">
            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width=".6" d="m11.00003 10.3299-5.0002-8.6607m5.0002 8.6607H.99903m.00097 0 5.0003-8.6607"/>
            <path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width=".6" d="M.99975 6h10"/>
        </svg>
    </button>
    <nav id="varanda-menu-contexto">
        <a href="/{{varanda.bicho_id}}/{{pagina.pagina_id}}/editar">Editar</a>
        <a href="/{{varanda.bicho_id}}/clonar">Clonar</a>
        <a href="/{{varanda.bicho_id}}/futricar">Futricar</a>
    </nav>

</header>

<script>

    function alternaMenuGeral () {
        document.querySelector('#varanda-botao-geral').classList.toggle('pressionado');
        document.querySelector('#varanda-menu-geral').classList.toggle('aberto');
        document.querySelector('#varanda-botao-contexto').classList.remove('pressionado');
        document.querySelector('#varanda-menu-contexto').classList.remove('aberto');
    }

    function alternaMenuContexto () {
        document.querySelector('#varanda-botao-contexto').classList.toggle('pressionado');
        document.querySelector('#varanda-menu-contexto').classList.toggle('aberto');
        document.querySelector('#varanda-botao-geral').classList.remove('pressionado');
        document.querySelector('#varanda-menu-geral').classList.remove('aberto');
    }

</script>