<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    
   {{!--  <link rel="stylesheet" href="/reset.css">
    {{#unless usuarie}}
        {{#unless usuarie.preferencias}}
        <link id="link-tema" rel="stylesheet" href="/temas/1-flamingo-diurno.css">
        {{/unless}}
    {{/unless}}

    {{#if usuarie}}
        {{#if usuarie.preferencias}}
        <link id="link-tema" rel="stylesheet" href="/temas/{{tema.tema_id}}-{{tema.nome}}.css">
        {{/if}}
    {{/if}}
    <link rel="stylesheet" href="/sistema.css">
    <link rel="stylesheet" href="/componentes.css">
    <link rel="stylesheet" href="/uteis.css"> --}}
    <link rel="stylesheet" href="/index.css">

    <title>{{varanda.bicho_id}}</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico">
</head>
<body hx-boost="true">
 
    {{#if usuarie}}
        {{#if usuarie.logade}}
        {{> barra}}
        {{/if}}
    {{/if}}
    
    {{#if flash.aviso}}
        <dialog open>
            <p>{{#if flash.aviso_decod}}{{flash.aviso_decod}}{{/if}}{{#unless flash.aviso_decod}}{{flash.aviso}}{{/unless}}</p>
            <br>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}

    {{#if flash.erro}}
        <dialog open>
            <p>{{#if flash.erro_decod}}{{flash.erro_decod}}{{/if}}{{#unless flash.erro_decod}}{{flash.erro}}{{/unless}}</p>
            <br>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}
 
    <main id="varanda-janela" {{#unless usuarie.logade}}class="sem-login"{{/unless}}>
        {{{body}}}
    </main>

    <footer id="pe-da-pagina"></footer>

</body>

{{#if usuarie.logade}}
    <script>
        window.addEventListener('pageshow', descarregos());
        function descarregos () {
            document.getElementById('pe-da-pagina').style.display = null;
            document.getElementById('varanda-janela').style.minHeight = null;
            esticaTextareas();
        }

        function esticaTextareas() {
            let tx = document.getElementsByTagName("textarea");
            for (let i = 0; i < tx.length; i++) {
                tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
                tx[i].addEventListener("input", OnInput, false);
            }
        }

        function OnInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + "px";
        }
    </script>
{{/if}}

{{#unless usuarie.logade}}
    <script>
        window.addEventListener('pageshow', sembarra());
        function sembarra () {
            document.getElementById('varanda-janela').style.minHeight = '100vh';
            document.getElementById('pe-da-pagina').style.display = 'none';
        }
    </script>
{{/unless}}


</html>