<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/reset.css">

    <link id="link-tema-0" rel="stylesheet" href="/tema-0.css">
    <link id="link-tema-1" rel="stylesheet" href="/tema-1.css" disabled>
    <link rel="stylesheet" href="/estilo-0-padrao.css">
    <title>{{varanda.bicho_id}}</title>
    <link rel="shortcut icon" type="image/jpg" href="/favicon.ico">
</head>
<body hx-boost="true">
 
    {{#if usuarie.logade}}
        {{> barra}}
    {{/if}}
    
    {{#if flash.aviso}}
        <dialog open>
            <p>{{#if flash.aviso_decod}}{{flash.aviso_decod}}{{/if}}{{#unless flash.aviso_decod}}{{flash.aviso}}{{/unless}}</p>
            <br>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}

    {{#if flash.erro}}
        <dialog open>
            <p>{{#if flash.erro_decod}}{{flash.erro_decod}}{{/if}}{{#unless flash.erro_decod}}{{flash.erro}}{{/unless}}</p>
            <br>
            <form method="dialog" hx-boost="false">
                <button>entendi!</button>
            </form>
        </dialog>
    {{/if}}
 
    <main id="varanda-janela" {{#unless usuarie.logade}}class="sem-login"{{/unless}}>
        {{{body}}}
    </main>

    <footer id="pe-da-pagina"></footer>

</body>

{{#if usuarie.logade}}
    <script>
        window.addEventListener('pageshow', descarregos());
        function descarregos () {
            document.getElementById('pe-da-pagina').style.display = null;
            document.getElementById('varanda-janela').style.minHeight = null;
            carregaTema();
        }

        async function carregaTema() {
            try {
                let requestObject = {
                    method: 'GET',
                    withCredentials: true,
                    credentials: 'include',
                    headers: { 'Content-Type': 'application/json' }
                }
                let res = await fetch(`/preferencias`, requestObject);
                const preferencias = await res.json();

                let linkTemaPref = document.getElementById(`link-tema-${preferencias.tema}`);
                linkTemaPref.disabled = false;

                const temas = ['link-tema-0', 'link-tema-1'];
                for (let tema of temas) {
                    if (tema !== `link-tema-${preferencias.tema}`) {
                        document.getElementById(tema).disabled = true;
                    }    
                }
            } catch {
                console.log('Erro no carregamento do tema.');
            }
        }

        const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
            tx[i].addEventListener("input", OnInput, false);
        }

        function OnInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + "px";
        }
    </script>
{{/if}}

{{#unless usuarie.logade}}
    <script>
        window.addEventListener('pageshow', sembarra());
        function sembarra () {
            document.getElementById('varanda-janela').style.minHeight = '100vh';
            document.getElementById('pe-da-pagina').style.display = 'none';
        }
    </script>
{{/unless}}


</html>